* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*///////////////////header-section //////////////////// */

.header-top {
  display: flex;
  justify-content: space-between;
  background-color: #333333;
  padding: 15px 0;
  cursor: pointer;
}

.header-top__left {
  color: #ddd;
  font-size: 18px;
  margin-left: 20px;
}
.header-top__left i {
  margin-right: 10px;
  color: #ddd;
}

.header-top__right i {
  color: #ddd;
  margin-right: 20px;
  font-size: 20px;
}

/* /////////////////header-buttom//////////// */

.container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  background-color: #ffffff;
  box-shadow: 0 8px 13px rgba(0, 0, 0, 0.1);
}

.container .logo img {
}

.container ul {
}
.container nav ul li {
  list-style: none;
  display: inline-block;
  padding: 0 20px;
  margin-top: 20px;
}
.container ul li a {
  text-decoration: none;
  color: #000;
  font-size: 16px;
  font-weight: 600;
  transition: all 0.3s ease;
}

.button-header button {
  background-color: #5fde79;
  color: #fff;
  padding: 12px 35px;
  border-radius: 30px;
  cursor: pointer;
  transition: all 0.3s ease;
  border: none;
  font-size: 16px;
  font-weight: 600;
  margin: 10px;

  &:hover {
    background-color: #45a052;
    transform: scale(1.05);
  }
}

.icon {
  font-size: 26px;
  cursor: pointer;
  transition: all 0.3s ease;
  margin-top: 15px;
  /* margin-right: 30px; */
  margin-right: -150px;
  &:hover {
    transform: scale(1.05);
  }
}
/* ////////////hero-sections/////////// */

.hero-sections {
  display: flex;
}

.hero-left {
  margin: 100px 10px;
}
.hero-left h4 {
  font-size: 58px;
  color: #5fde79;
  font-size: 18px;
  letter-spacing: 8px;
  font-weight: 700;
  margin-bottom: 20px;
}

.hero-left h1 {
  font-size: 68px;
  color: #000;
  font-weight: 700;
  margin-top: 20px;
  line-height: 100px;
}
.hero-left h1 span {
  line-height: 10px;
  color: #5fde79;
}

.border-line {
  display: flex;
}
.line-1 {
  width: 20px;
  height: 5px;
  background-color: #04f434;
  margin-top: 20px;
  border-radius: 50px;
}
.line-2 {
  width: 40px;
  height: 5px;
  background-color: #04f434;
  margin: 20px 15px;
  border-radius: 50px;
}

.hero-left p {
  font-size: 18px;
  color: #555555;
  line-height: 30px;
}

button {
  background-color: #000000;
  color: #fff;
  padding: 15px 30px;
  border-radius: 30px;
  cursor: pointer;
  overflow: hidden;
  transition: all 0.3s ease;
  border: 1px solid #5fde79;
  font-size: 16px;
  font-weight: 600;
  margin-top: 30px;
  &:hover {
    background-color: #000000;
    transform: scale(1);
  }
}

.hero-left h3 {
  font-size: 18px;
  margin: 40px 15px;
}

.hero-right {
  background: url(./img/banner1.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  flex: 1;
  z-index: 2;
}

/* //////////////////////container-1/////////////////// */

.container-1 {
  display: flex;
  justify-content: space-between;
  padding: 80px 0;
}

.container-left {
  margin: 15px 10px;
}
.container-left h4 {
  font-size: 58px;
  color: #000;
  font-weight: 700;
  margin-bottom: 20px;
}
.container-left h4 {
  font-size: 68px;
  color: #5fde79;
  font-weight: 700;
  margin-top: 20px;
  line-height: 100px;
}
.container-left h1 {
  font-size: 68px;
  color: #000000;
  font-weight: 700;
  line-height: 100px;
}
.container-left h2 {
  font-size: 68px;
  color: #44ff00;
  font-weight: 700;
  line-height: 100px;
}
.border-line-2 {
  display: flex;
}
.line-3 {
  width: 20px;
  height: 5px;
  background-color: #04f434;
  margin-top: 20px;
  border-radius: 50px;
}
.line-4 {
  width: 40px;
  height: 5px;
  background-color: #04f434;
  margin: 20px 15px;
  border-radius: 50px;
}

.container-right {
}

.box-1 {
  text-align: center;
  width: 400px;
  height: 300px;
  margin: 15px 10px;
  border-radius: 20px;
  box-shadow: 0 8px 13px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}
.box-1 i {
  font-size: 80px;
  color: #5fde79;
  margin: 20px 160px;
}
.box-1 h2 {
  font-size: 24px;
  color: #000;
  margin: 20px 0;
}

.box-1 p {
  font-size: 16px;
  color: #000000;
  line-height: 28px;
  margin: 0 20px;
  word-spacing: 2px;
  letter-spacing: 1px;
}
.box-1:hover {
  transform: translateY(-10px);
  background-color: #807b92;
  transition: 1s;
}

.box-2 {
  text-align: center;
  width: 400px;
  height: 300px;
  margin: 15px 10px;
  border-radius: 20px;
  box-shadow: 0 8px 13px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}
.box-2 i {
  font-size: 80px;
  color: #5fde79;
  margin: 20px 160px;
}
.box-2 h2 {
  font-size: 24px;
  color: #000;
  margin: 20px 0;
}

.box-2 p {
  font-size: 16px;
  color: #000000;
  line-height: 28px;
  margin: 0 20px;
  word-spacing: 2px;
  letter-spacing: 1px;
}
.box-2:hover {
  transform: translateY(-10px);
  background-color: #807b92;
  transition: 1s;
}

.box-3 {
  text-align: center;
  width: 400px;
  height: 300px;
  margin: 15px 10px;
  border-radius: 20px;
  box-shadow: 0 8px 13px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}
.box-3 i {
  font-size: 80px;
  color: #5fde79;
  margin: 20px 160px;
}
.box-3 h2 {
  font-size: 24px;
  color: #000;
  margin: 20px 0;
}

.box-3 p {
  font-size: 16px;
  color: #000000;
  line-height: 28px;
  margin: 0 20px;
  word-spacing: 2px;
  letter-spacing: 1px;
}
.box-3:hover {
  transform: translateY(-10px);
  background-color: #807b92;
  transition: 1s;
}

/* ///////container ////////*/

.container-2 {
  display: flex;
  justify-content: space-between;
  /* padding: 80px 0; */
}

.container-2-left {
  position: absolute;
  background-color: #4dff00;
  width: 700px;
  height: 500px;
  border-radius: 20px;
  z-index: 1;
  border-radius: 25px;
}
.zindex {
  z-index: 1;
  width: 895px;
  height: 690px;
  background-color: #84e083bd;
  border-radius: 25px;
}

.container-2-left img {
  border-radius: 25px;
}

.zindeximg {
  position: relative;
  bottom: 500px;
  margin-left: 50px;
  z-index: 2;
}
.zindeximg img {
  border-radius: 25px;
}

.zindeximg:hover {
  transform: translateX(-30px);
  transition: 1s;
}

.container-2-right {
  text-align: center;
}
.container-2-right h1 {
  font-size: 57px;
}

.border-line-2 {
  margin-left: 200px;
  margin: 24px 189px;
}

.line-3 {
  width: 20px;
  height: 5px;
  background-color: #04f434;
  margin-top: 20px;
  border-radius: 50px;
}
.line-4 {
  width: 40px;
  height: 5px;
  background-color: #04f434;
  margin: 20px 15px;
  border-radius: 50px;
}
.container-2-right p {
  font-size: 18px;
}

/* //////container-3///// */

.container-3 {
  display: flex;
  justify-content: space-around;
}
.container-3-left h1 {
  font-size: 40px;
}
.container-3-left p {
  margin-left: 10px;
}
.container-3-right {
  font-size: 18px;
}

/* container */

.section-wrapper {
  margin: 60px auto;
  display: flex;
  gap: 40px;
  justify-content: center;
}

.left-box {
  width: 950px;
  height: 600px;
  background: url(https://developerachem.github.io/sass-tamplate/image/person-with-long-curly-hair-PZ99QM2@2x.jpg)
    center/cover;
  border-radius: 20px;
  position: relative;
  overflow: hidden;
}

.left-box .overlay {
  position: absolute;
  inset: 0;
  background: linear-gradient(90deg, #04e077, #12c2e9);
  opacity: 0.8;
}

.stats {
  position: absolute;
  color: white;
  top: 30%;
  left: 50px;
  text-align: center;
}

.stat-item {
  margin-bottom: 40px;
}

.stat-item h2 {
  font-size: 55px;
  line-height: 40px;
  margin-bottom: 10px;
}

.stat-item span {
  font-size: 14px;
  letter-spacing: 1px;
}

.right-box {
  width: 950px;
  background: white;
  padding: 40px 45px;
  border-radius: 20px;
  box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.12);
}

.title {
  font-size: 42px;
  line-height: 48px;
  margin-bottom: 20px;
}

.title .highlight {
  color: #12c2e9;
}

.desc {
  color: #555;
  line-height: 26px;
  font-size: 15px;
  margin-bottom: 20px;
}

.checks {
  list-style: none;
  padding: 0;
}

.checks li {
  padding-left: 25px;
  margin: 10px 0;
  background: url('data:image/svg+xml;utf8,<svg fill="%2312c2e9" height="14" viewBox="0 0 24 24" width="14" xmlns="http://www.w3.org/2000/svg"><path d="M9 16.17l-3.88-3.88L4 13.41l5 5 12-12-1.41-1.41z"/></svg>')
    left center no-repeat;
  background-size: 14px;
}

.pricing-section {
  width: 90%;
  margin: 60px auto;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 30px;
}

.left-text {
  width: 30%;
}

.left-text h2 {
  font-size: 40px;
  line-height: 48px;
  font-weight: 600;
}

.left-text .highlight {
  color: #12d67c;
}

.underline {
  width: 60px;
  height: 4px;
  background: #12d67c;
  margin: 20px 0;
}

.left-text p {
  font-size: 15px;
  line-height: 26px;
  color: #555;
}

.pricing-cards {
  width: 68%;
  display: flex;
  justify-content: space-between;
  gap: 25px;
}

.card {
  width: 33%;
  background: #fff;
  border-radius: 12px;
  padding: 25px 0 35px;
  text-align: center;
  box-shadow: 0px 8px 25px rgba(0, 0, 0, 0.1);
}

.card h3 {
  font-size: 20px;
  font-weight: 600;
}

.card .sub {
  font-size: 13px;
  color: #888;
  margin-bottom: 20px;
}

.price-bar {
  padding: 20px 0;
  margin-bottom: 20px;
}

.price-bar.dark {
  background: #333;
  color: white;
}

.price-bar.green {
  background: linear-gradient(90deg, #12dd80, #0ec7a0);
  color: white;
}

.price-bar .price {
  font-size: 40px;
  font-weight: 600;
}

.price-bar .unit {
  font-size: 16px;
  margin-left: 5px;
}

.card ul {
  list-style: none;
  padding: 0 30px;
  text-align: left;
}

.card ul li {
  margin: 10px 0;
  font-size: 14px;
  padding-left: 22px;
  background: url('data:image/svg+xml;utf8,<svg fill="%2312d67c" height="14" viewBox="0 0 24 24" width="14" xmlns="http://www.w3.org/2000/svg"><path d="M9 16.17l-3.88-3.88L4 13.41l5 5 12-12-1.41-1.41z"/></svg>')
    left center no-repeat;
  background-size: 15px;
}

.card.active {
  transform: translateY(-15px);
}

.testimonial-section {
  position: relative;
  background: url("https://developerachem.github.io/sass-tamplate/image/testmonial-bg.jpg")
    center/cover no-repeat;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.65); /* dark overlay like the screenshot */
}

.testimonial-content {
  position: relative;
  text-align: center;
  max-width: 900px;
  padding: 20px;
}

.quote {
  font-size: 70px;
  color: #1abc9c;
  font-weight: bold;
  margin-bottom: 10px;
}

.text {
  font-size: 20px;
  line-height: 1.6;
  margin-bottom: 30px;
}

.client-box {
  margin-top: 20px;
}

.client-img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  object-fit: cover;
}

.client-name {
  margin: 10px 0 5px;
  font-size: 22px;
  font-weight: 600;
}

.client-role {
  font-size: 14px;
  opacity: 0.8;
}

/* ///BLOG SECTION /////*/

.blog-section {
  text-align: center;
  padding: 50px 20px;
}

.blog-container {
  display: flex;
  gap: 20px;
  justify-content: center;
  margin-bottom: 30px;
}

.blog-card {
  width: 300px;
  background: #ffffff;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.blog-card img {
  width: 100%;
  height: 200px;
  background-size: cover;
}

.blog-info {
  padding: 40px;
  background-color: #00c8ff;
}

.blog-info span {
  margin-right: 10px;
  font-size: 12px;
  opacity: 0.7;
}

.blog-info h3 {
  margin-top: 10px;
  font-size: 18px;
}

.view-btn {
  padding: 10px 28px;
  border: 1px solid;
  background: #7c3030;
  color: #fff;
  border-radius: 50px;
  cursor: pointer;
  margin-bottom: 26px;
}

/*///// CTA SECTION//// */

.cta-section {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin: 60px 0;
  padding: 0 20px;
}

.cta-box {
  flex: 1;
  border-radius: 12px;
  padding: 40px;
  color: #fff;
  min-height: 200px;
}

.dark-box {
  background: #222;
}

.green-box {
  background: linear-gradient(90deg, #23ff8f, #00c4ff);
}

.cta-box h2 {
  margin: 10px 0 20px;
  font-size: 26px;
}

.email-box {
  display: flex;
  background: #444;
  padding: 5px;
  border-radius: 50px;
}

.email-box input {
  flex: 1;
  border: none;
  padding: 10px;
  background: transparent;
  color: #fff;
  outline: none;
}

.email-box button {
  padding: 10px 20px;
  border: none;
  background: #9500ff;
  color: #fff;
  border-radius: 50px;
  cursor: pointer;
  margin: 10px 5px;
}

.start-btn {
  padding: 10px 25px;
  background: #000;
  color: #fff;
  border-radius: 50px;
  border: none;
  cursor: pointer;
}

/* BRANDS SECTION */

.brands-section {
  text-align: center;
  padding: 40px 0;
  background-color: #28232356;
}

.brands img {
  width: 120px;
  margin: 20px;
  opacity: 0.7;
}

/* FOOTER */

.footer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 50px;
  background: #386748;
}

.footer-col {
  width: 23%;
}

.footer-col h3 {
  margin-bottom: 15px;
}

.footer-col p {
  margin-bottom: 10px;
  line-height: 1.5;
}

.footer-col ul {
  list-style: none;
}

.footer-col ul li {
  margin-bottom: 8px;
}

.map {
  width: 100%;
  border-radius: 10px;
}
